.header {
  background: rgb(185, 250, 208);
  background: linear-gradient(
    180deg,
    rgba(185, 250, 208, 0.8335784997592788) 25%,
    rgba(191, 245, 214, 0.5562675753895308) 80%
  );
  width: 100%;
  height: 8%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
}

li {
  display: inline;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  list-style: none;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
