.content {
  background: rgb(185, 250, 208);
  background: linear-gradient(
    180deg,
    rgba(185, 250, 208, 1) 20%,
    rgba(191, 245, 214, 1) 50%
  );
  width: 80%;
  display: grid;
  place-items: center;
  margin: auto;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-top: 110px;
}

.projects {
  width: 100%;
}

.game {
  width: 20%;
  padding: 20px;
  float: left;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  color: white;
}
.game:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.task {
  width: 20%;
  padding: 20px;
  float: right;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  color: white;
}

.task:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.skills {
  width: 100%;
}

img {
  display: inline-block;
  margin: 15px;
}

img:hover {
  transform: scale(1.1);
  transition: 0.8s;
}
