<div class="content">
  <h1>Sobre mi</h1>
  <p>
    Me llamo Steewar Martínez, soy un estudiante de la licenciatura en
    Psicologia y me gusta la programacion web, aparte tengo muchos hobbies y
    pasiones como la Formula 1, ver anime, jugar videojuegos y leer libros, me
    gustaria compartir mis conocimientos y experiencias con ustedes. :)
  </p>
  <h3>Tecnologias</h3>
  <div class="skills">
    @for (item of links; track item; let i = $index){
    <div
      class="img"
      style="
        --i: {{ i }};
        --img: url({{ item }});
      "
    ></div>
    }
  </div>
  <h3>Proyectos</h3>
  <div class="projects">
    <a href="https://github.com/Stewmc1/adivina-la-bandera" target="_blank">
      <button class="game">Adivina la bandera</button>
    </a>

    <a href="https://github.com/Stewmc1/Lista-de-tareas" target="_blank">
      <button class="task">Lista de tareas</button>
    </a>
  </div>
</div>
