<div class="sidebar">
  <a href="https://github.com/Stewmc1" target="_blank">
    <img
      src="https://img.icons8.com/color/48/000000/github--v1.png"
      alt="github"
    />
  </a>
  <a href="https://www.linkedin.com/in/steewarmartinez/" target="_blank">
    <img
      src="https://img.icons8.com/color/48/000000/linkedin.png"
      alt="linkedin"
    />
  </a>
  <a
    href="https://mail.google.com/mail/?view=cm&to=steewarmartinez@gmail.com"
    target="_blank"
  >
    <img src="https://img.icons8.com/color/48/000000/gmail.png" alt="gmail" />
  </a>
</div>
